{
    "extends": [
        "eslint:recommended",
        "prettier"
    ],
    "parserOptions": {
        "ecmaVersion": 2017
    },
    "env": {
        "browser": true,
        "es6": true,
        "mocha": true,
        "node": true
    }
}